*{
    padding: 5;
    margin: auto;

}

body{
    background-image: url(img.jpg) ;
    background-position: center;
    background-color: white;
    color:white;
    font-family: varela round;
}

img{
    width: 350px;
    height: 500px;
    border-radius: 10%;
}

p.one{
    padding-right: 10%;
    padding-left: 10%;

}

.header{
    padding-top: 20px;
    border-radius: 10px;
    color: rgb(223, 219, 205);
}

.sub header{
    color:rgba(56, 37, 37, 0.664);
}

.s1{
    padding: 10;
    background-color: black;
    color: white;
    border-radius: 8px;
}

.skills {
    color: rgba(56, 37, 37, 0.664);
}

.hob{
    color:  rgba(56, 37, 37, 0.664);
}




/*.skills progress{
    color: violet;
    background-color: black;
    border-radius: 1px;
    height: 20px;
    width: 200px;

}*/

/*.skills progress a{
    background-color: black;
   /* background-color:linear-gradient(to left, black);*/
   /* box-shadow: 0 3px 3px -5px black;*/
   /* border-radius: 20px;
    display: block;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100px;

}*/

.description{
    padding-bottom: 10px;
    color:  rgba(56, 37, 37, 0.664);
}

.icons i{
    padding: 10px;

     
}

.icons a i{
    color:rgba(0, 0, 0, 0.616);
    text-decoration: none;
}

.navbar{
    margin: 10px;
    display: flex;
    position: relative;
    align-items: center;
    color: rgb(248, 248, 248);
    background-color: black;
    border-radius: 5px;
    justify-content: space-between;   
}

.name{
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links{
    height: 100%;

}

.navbar-links ul{
    display: flex;

}

.navbar-links li{
    list-style: none;

}

.navbar-links ul li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;  
}

.navbar-links li a:hover{
    display: block;
    text-decoration: none;
    color:rgba(255, 234, 115, 0.555);
}

.navbar-links li:hover{
    background-color: rgba(255, 255, 255, 0.233);
    border-radius: 5px;
}

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none ;
    flex-direction: column;
    width: 30px;
    height: 20px;
    justify-content: space-between;

}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    margin: .5px;
    background-color: white;
    border-radius: 10px;
}
 .footer {
    background-color: black;
    text-align-last: center;
    height: 25px;
    width: 100%;

 }

@media (max-width:400px  ){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    
.toggle-button{
    display: flex;
    }

    .navbar-links{
        display: none;
        width: 100%;
    }

    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }

    .navbar-linksul li{
        text-align: center;
    }

    .navbar-links ul li a{
        padding: .5rem 1rem;
    }

    .navbar-links.active{
        display: flex;
    }
}    

button{
    color: white;
    height: 2em;
    width: 10%;
    background-color: rgba(0, 0, 0, 0.308);
    border-radius: 5px;
    border-style: none;
}

button a{
    color: white;
    text-decoration: none;
}